.user-card {
    border: 1px solid blue;
    padding: 0.5em 0.8em;
    margin: 0.8em 0.5em;
    border-radius: 5em;
    background-color: aquamarine;
}

img {
    width: 30%;
    border: 1px solid black;
    border-radius: 100%;
}

h2,
h3 {
    font-size: 1.5em;
    color: green;
    padding: 0;
    margin: 0;
}

h4 {
    color: blueviolet;
    font-size: 1em;
}
